<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Inscriptionr</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
</head>
<body>
<header>
  <a href="#" class="logo">SiteWeb</a>
  <div class="menuToggle" onclick="toggleMenu();"></div>
</header>
<form>

  <h1>Se Connecter</h1>
  <div class="social-media">
    <p><i class="fab fa-twitter"></i></p>
  </div>
  <br>


  <div class="inputs">
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Mot de passe">
  </div>

  <p class="inscription"><a href="../views/Inscription.html" onclick="toggleMenu();">Pas de compte ? Inscrivez-vous </a></p>
  <div align="center">
    <button type="submit">Se connecter</button>
  </div>
</form>
<footer>

  <p>texte du footer</p>

</footer>

</div>

</body>

</html>
</body>
</html>>