<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleCss.css" rel="stylesheet">
    <link href="styleSignup.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-indigo-900 via-blue-900 via-blue-700 to-blue-500 ...">
<div class="container ">
    <div class="item-1 rounded-xl">
        <h1 class="font-bold"> Inscription utilisateur </h1>
        <br>
        <br>
        <form id="signup" name="signup" method="post" action="/signup">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3">
                    <label for="nom">Nom
                        <input class="" name="nom" type="text" />
                    </label>
                </div>
                <div class="md:w-1/2 px-3">
                    <label for="prenom"> Prénom
                        <input class="" name="prenom" type="text" />
                    </label>
                </div>
            </div>
            <br>
            <label for="email">Adresse mail
                <input class="" name="email" type="text" />
            </label>
            <br>
            <br>
            <label for="password">Mot de passe
                <br>
                <input name="password" type="password" />
            </label>
            <br>
            <br>
            <input class="btnLogin cursor-pointer" type="submit" value="S'inscrire" />
            <br>
            <p style="text-align: center"><a class="underline text-blue-500 text-center" href="signin"> Vous avez déjà un compte ? Connectez-vous </a></p>
        </form>
    </div>
</div>
</body>
</html>
