<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleCss.css" rel="stylesheet">
    <link href="styleSignup.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-r from-indigo-900 via-blue-900 via-blue-700 to-blue-500 ...">
<div class="container">
    <div class="item-1">
        <h1 class="font-bold"> Inscription utilisateur </h1>
        <br>
        <br>
        <form id="signup" name="signup" method="post" action="/signup">
            <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full md:w-1/2 px-3">
                    <label for="nom">Nom</label>
                    <br>
                    <input class="" name="nom" type="text" />
                </div>
                <div class="md:w-1/2 px-3">
                    <label class="" for="prenom">Prénom</label>
                    <br>
                    <input class="" name="prenom" type="text" />
                </div>
            </div>
            <label for="email">Adresse mail</label>
            <br>
            <input class="" name="email" type="text" />
            <br>
            <br>
            <label for="password">Mot de passe</label>
            <br>
            <input name="password" type="password" />
            <br>
            <br>
            <input class="btnLogin cursor-pointer" type="submit" value="Inscription" />
            <br>
        </form>
    </div>
</div>
</body>
</html>
