<!DOCTYPE html> <html>
<head>
    <title>Inscription</title> </head>
<body>
<form id="signup" name="signup" method="post" action="/signup">
    <label for="email">Email</label>
    <input class="text" name="email" type="email" /> <label for="prenom">Prénom</label>
    <input name="prenom" type="text" />
    <label for="nom">Nom</label>
    <input name="nom" type="text" />
    <label for="password">Mot de passe</label>
    <input name="password" type="password" />
    <label for="type">Type</label>
    <input name="type" type="text" />
    <input class="btn" type="submit" value="Sign Up" />
</form> </body> </html>
