<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table des quêtes</title>
<body>
<header>
    <a href="#" class="logo">SiteWeb</a>
    <div class="menuToggle" onclick="toggleMenu();"></div>
    <ul class="navbar">
        <li><a href="../views/index.html" onclick="toggleMenu();">Accueil</a></li>
        <li><a href="../views/TableDesQuetes.html" onclick="toggleMenu();">Table des Quêtes</a></li>
        <li><a href="../views/Contact.html" onclick="toggleMenu();">Contact</a></li>
        <a href="#" class="btn-reserve"onclick="toggleMenu();">Log out</a>
    </ul>
</header>
</body>
</html>