<!DOCTYPE html>
<html>
<head>
    <title>Table des quêtes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleCss.css" rel="stylesheet">
    <link href="styleTableQuete.css" rel="stylesheet">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
<!-- Navbar goes here -->
<nav class="bg-gray-700 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <!-- Website Logo -->
                <!--<div>
                    <a href="#" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-gray-500 text-lg">Accueil</span>
                    </a>
                </div>-->
                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/home" class="py-4 px-2 text-gray-500 font-semibold hover:text-white transition duration-300">Accueil</a>
                    <a href="/tableDesQuetes" class="py-4 px-2 text-white border-b-4 border-white font-semibold ">Table des requêtes</a>
                    <a href="/contact" class="py-4 px-2 text-gray-500 font-semibold hover:text-white transition duration-300">Contact</a>
                </div>
            </div>
            <!-- Secondary Navbar items -->
            <div class="hidden md:flex items-center space-x-3 ">
                <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-700 hover:bg-white mt-4 lg:mt-0">Logout</a>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
                         x-show="!showMenu"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         stroke-width="2"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                    >
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
        <ul class="">
            <li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Accueil</a></li>
            <li><a href="#services" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Table des requêtes</a></li>
            <li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact</a></li>
        </ul>
    </div>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");
        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</nav>


<script>
    async function test (){
        let url = "http://localhost:8081/siteWeb/findAllSignaledTweetOrderedByNbRequesDESC"
        let response = await fetch(url, {
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                        //Origin: origin
                    },
                },
                {mode: 'cors'})
                .then(result => result.json())
                .then(data => {
                    // console.log(data);
                    return data;
                });
        return (response)
    }
    (async () => {
        const data = await test();
        for (const ligne of data['data']) {
            ajouteLigneAuTab(getUserByUrl(ligne['url']), ligne['url'], ligne['nbSignalement']);
        }
    })();
    async function getEmbed(url_tweet){
        let url = "https://publish.twitter.com/"
        let response = await fetch(url, {
                    mode:"no-cors",
                    method: 'GET',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json',
                        Origin: origin
                    },
                    query: JSON.stringify({
                        url:url_tweet
                    })
                },
                // {mode: 'no-cors'}
        )
                // .then(result => result.json())
                .then(data => {
                    // console.log(data);
                    return data;
                });
        return (response)
    }
    (async () => {
        const data = await getEmbed("https://twitter.com/L_histoirien/status/1464264693292445712");
        console.log(data);
        console.log(data['body']);
    })();
    function getUserByUrl(url) {
        url = url.replace('https://twitter.com/', '');
        const INDEX_USER_1 = url.indexOf('/');
        url = url.substring(0, INDEX_USER_1);
        return url;
    }
    function ajouteLigneAuTab(utilisateur, tweet, nbSignalement) {
        const tableau = document.getElementById("tableau");
        const tr = document.createElement("tr");
        tr.setAttribute("class", "text-gray-700");
        const th1 = document.createElement("th");
        th1.setAttribute("class", "px-4 py-3 text-ms border");
        th1.innerHTML = utilisateur;
        const th2 = document.createElement("th");
        th2.setAttribute("class", "px-8 py-3 text-ms font-light border");
        th2.innerHTML = tweet;
        const th3 = document.createElement("th");
        th3.setAttribute("class", "px-8 py-3 text-ms font-light border");
        th3.innerHTML = nbSignalement;
        const th4 = document.createElement("th");
        th4.setAttribute("class", "px-2 py-1 text-sm border");
        const btn = document.createElement("button");
        btn.setAttribute("class", "px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none");
        btn.innerHTML = "Vérifier";
        var urlToRedirect = '/verifie?url=\"'+tweet+"\"";
        btn.onclick = function(tweet) { window.location.href=urlToRedirect; };
        th4.appendChild(btn);
        tr.appendChild(th1);
        tr.appendChild(th2);
        tr.appendChild(th3);
        tr.appendChild(th4);
        tableau.appendChild(tr);
    }
</script>


<!-- component -->
<section class="container mx-auto p-6 font-mono">
    <div class="w-full mb-8 overflow-hidden rounded-lg shadow-lg">
        <div class="w-full overflow-x-auto">
            <table class="w-full">
                <thead>
                <tr class="text-md font-semibold tracking-wide text-center text-gray-900 bg-gray-100 uppercase border-b border-gray-600">
                    <th class="px-4 py-3">Utilisateur</th>
                    <th class="px-10 py-3">Tweet</th>
                    <th class="px-2 py-3">Nombre de signalement</th>
                    <th class="px-2 py-">Actions</th>
                </tr>
                </thead>
                <tbody id="tableau" class="bg-white">
                <tr class="text-gray-700">
                    <!--                            <td class="px-4 py-3 text-ms border">Julien</td>-->
                    <!--                            <td class="px-8 py-3 text-ms font-semibold border">Tweet</td>-->
                    <!--                            <td class="px-4 py-3 text-xs border">5</td>-->
                    <!--                            <td class="px-2 py-1 text-sm border"><button class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 hover:text-white focus:outline-none">Vérifier</button></td>-->
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!-- component -->
<footer class="footer bg-gray-700 relative pt-1">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Accueil</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Contact</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Tables des quêtes</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-8 border-t-2 border-white flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-white font-bold mb-2">
                    © 2021 by Antoine JEAN, Célia LEICHTNAM, Julien ERHARD, Guillaume KLEIN
                </p>
            </div>
        </div>
    </div>
</footer>


</body>
</html>