<!DOCTYPE html>
<html>
<head>
    <title>Connexion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleCss.css" rel="stylesheet">
    <link href="styleTableQuete.css" rel="stylesheet">
</head>
<body>
<h1 class="text-red-600"> Tableau des quêtes </h1>

</body>
</html>
