<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table des quêtes</title>

<body>
    <header>
        <nav>
            <ul class="navbar">
                <a href="#" class="logo">SiteWeb</a>
                <li><a href="ml" onclick="toggleMenu();">Accueil</a></li>
                <li><a href="/TableDesQuetes.html" onclick="toggleMenu();">Table des Quêtes</a></li>
                <li><a href="html" onclick="toggleMenu();">Contact</a></li>
                <a href="#" class="btn-reserve" onclick="toggleMenu();">Log out</a>
            </ul>
        </nav>
    </header>

    <p>dfazfazf<br><br><br><br><br><br><br><br>zfazfazfzf<br><br><br><br><br>zfazfazf<br><br><br><br><br><br><br><br>zfazfazfzf<br><br><br><br><br>zfazfazf<br><br><br><br><br><br><br><br>zfazfazfzf<br><br><br><br><br>zfazfazf<br><br><br><br><br><br><br><br>zfazfazfzf<br><br><br><br><br>zfazfazf<br><br><br><br>zfazfazf<br><br><br>zfazfazf<br><br><br>aaaaaa</p>

    <footer>
        <p>Site web crée dans le cadre d'un projet tutoré par Antoine JEAN, Célia LEICHTNAM, Julien ERHARD et Guillaume KLEIN</p>
    </footer>
</body>
</html>