<!DOCTYPE html>
<html>
<head>
    <title>Verification</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styleCss.css" rel="stylesheet">
    <link href="styleVerifie.css" rel="stylesheet">
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</head>
<body>
<!-- Navbar goes here -->
<nav class="bg-gray-700 shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
            <div class="flex space-x-7">
                <!-- Website Logo -->
                <!--<div>
                    <a href="#" class="flex items-center py-4 px-2">
                        <span class="font-semibold text-gray-500 text-lg">Accueil</span>
                    </a>
                </div>-->
                <!-- Primary Navbar items -->
                <div class="hidden md:flex items-center space-x-1">
                    <a href="/home" class="py-4 px-2 text-gray-500 font-semibold hover:text-white transition duration-300">Accueil</a>
                    <a href="/tableDesQuetes" class="py-4 px-2 text-gray-500 font-semibold hover:text-white transition duration-300">Table des requêtes</a>
                    <a href="/contact" class="py-4 px-2 text-gray-500 font-semibold hover:text-white transition duration-300">Contact</a>
                    <a href="/tableDesQuetes" class="py-4 px-2 text-white border-b-4 border-white font-semibold ">Verifier</a>
                </div>
            </div>
            <!-- Secondary Navbar items -->
            <div class="hidden md:flex items-center space-x-3 ">
                <a href="/logout" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-700 hover:bg-white mt-4 lg:mt-0">Logout</a>
            </div>
            <!-- Mobile menu button -->
            <div class="md:hidden flex items-center">
                <button class="outline-none mobile-menu-button">
                    <svg class=" w-6 h-6 text-gray-500 hover:text-green-500 "
                         x-show="!showMenu"
                         fill="none"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         stroke-width="2"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                    >
                        <path d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
        <ul class="">
            <li class="active"><a href="index.html" class="block text-sm px-2 py-4 text-white bg-green-500 font-semibold">Accueil</a></li>
            <li><a href="#services" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Table des requêtes</a></li>
            <li><a href="#about" class="block text-sm px-2 py-4 hover:bg-green-500 transition duration-300">Contact</a></li>
        </ul>
    </div>
    <script>
        const btn = document.querySelector("button.mobile-menu-button");
        const menu = document.querySelector(".mobile-menu");

        btn.addEventListener("click", () => {
            menu.classList.toggle("hidden");
        });
    </script>
</nav>



<div class="container-center ">
    <div class="item-1 rounded-xl">
        <h1 class="font-bold"> Vérification des tweets </h1>
        <p id="userId" style="visibility: hidden">{{user.id}}</p>
        <br>
        <br>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-3">
                <blockquote class="twitter-tweet"><a id="tweet_a_verifier"></a></blockquote>
            </div>
            <div class="md:w-1/2 px-3">
                <label class="" for="description">Description</label>
                <br>
                <textarea class="" id="description" name="description" maxlength="250"></textarea>
                <br><br>
                <label class="" for="jugement">Jugement</label>
                <br>
                <select name="jugement" id="jugement">
                    <option value="no information">Pas d'information</option>
                    <option value="vrai">Vrai</option>
                    <option value="faux">Faux</option>
                    <option value="tendancieux">Tendancieux</option>
                </select>
                <br>
                <br>
                <button onclick="ajoutJugement()" class="h-10 w-20 text-white rounded-lg bg-green-500 hover:bg-green-600">Valider</button>
            </div>
        </div>
    </div>
    <br>
    </div>
</div>

<script>
function $_GET(param) {
    const data = recup_param("url");
    if (data !== null) return data.replace('%22', '').replace('%22', '');
    else return "";
}
function recup_param(param) {
    var vars = {};
    window.location.href.replace( location.hash, '' ).replace(/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
        function( m, key, value ) { // callback
                vars[key] = value !== undefined ? value : '';
            }
        );
        if ( param ) {
            return vars[param] ? vars[param] : null;
        }
    return vars;
}

(() => {
    const data = $_GET("url");
    if (data === "") {
        window.location = '/tableDesQuetes';
    }
    // document.write(data);
})();

(() => {
    var tweet = document.getElementById("tweet_a_verifier");
    tweet.setAttribute("href", $_GET("url"));
})();

async function ajoutJugement() {
    //récupération des paramètres
    const url = $_GET("url");
    const jugement = document.getElementById("jugement").value;
    const description = document.getElementById("description").value;
    const userId = document.getElementById("userId").innerHTML;
    // console.log(userId);
    // console.log(url);
    // console.log(jugement);
    // console.log(description);
    rep = await nouveauJugement(url, userId, jugement, description);
    // console.log(rep);
    window.location = '/tableDesQuetes';
}


async function nouveauJugement (url_tweet,idUtilisateur,decision,description){
    let url = "http://localhost:8081/jugement/nouveauJugement"
    let response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                    //Origin: origin
                },
                body: JSON.stringify({
                    url:url_tweet,
                    idUtilisateur: idUtilisateur,
                    decision: decision,
                    description: description
                })
            },
            {mode: 'cors'})
            .then(result => result.json())
            .then(data => {
                return data;
            });

    return (response)
}

</script>






<!-- component -->
<footer class="footer bg-gray-700 relative pt-1">
    <div class="container mx-auto px-6">

        <div class="sm:flex sm:mt-8">
            <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Accueil</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Contact</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
                <div class="flex flex-col">
                    <span class="font-bold text-white uppercase mb-2">Tables des quêtes</span>
                    <span class="my-2"><a href="#" class="text-white  text-md hover:text-blue-500">link 1</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="container mx-auto px-6">
        <div class="mt-8 border-t-2 border-white flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-6">
                <p class="text-sm text-white font-bold mb-2">
                    © 2021 by Antoine JEAN, Célia LEICHTNAM, Julien ERHARD, Guillaume KLEIN
                </p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
