body {
    background: #222222;
    font-family: 'poppins', sans-serif;
    margin: auto;
}

/**********************************
*              MENU               *
***********************************/
.navbar{
    display: flex;
    position: relative;
    background-color: #424141;
    padding: 8px 0;
}
.navbar li{
    list-style: none;
    vertical-align: middle;
    margin: auto 0;
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    vertical-align: middle;
    margin: auto 20px;/* distance entre les éléments du menu*/
    border-bottom: 2px solid transparent;
}
header .navbar li a:hover{
    color: #2da9f8;
    border-bottom: 2px solid #2da9f8;
}
.btn-reserve{
    padding: 10px 8px;
    background: #2da9f8;
    text-transform: uppercase;
    border-radius: 6px;
}
ul {
    margin: 0;
    padding: 0;
}
/**********************************
*           FIN  MENU             *
***********************************/


/**********************************
*            FOOTER               *
***********************************/
footer{
    background: #424141;
    /*position: absolute;*/
    /*bottom:0;*/

    width:100%;
    color: #fff;
    padding: 10px 0;
}
footer p {
    text-align: center;
}
/**********************************
*          FIN  FOOTER            *
***********************************/